{% extends 'base.html.twig' %}

{% block title %}Edit AdminDeparture{% endblock %}

{% block body %}
    <h1>Edit AdminDeparture</h1>

    {{ include('admin_departure/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_departure_index') }}">back to list</a>

    {{ include('admin_departure/_delete_form.html.twig') }}
{% endblock %}
