{% extends 'base.html.twig' %}
{% block title %}Nouvel identifiant
{% endblock %}
{% block titleBody %}Nouvel identifiant
{% endblock %}
{% block body %}
	<p>
		<a class="btn btn-info btn-sm col-1" href="{{ path('identifiant_index') }}">Liste</a>
	</p>
	<hr>

	{{ include('identifiant/_form.html.twig') }}

{% endblock %}
