{% extends 'base.html.twig' %}

{% block title %}Liste de tâches planifiées
{% endblock %}
{% block titleBody %}Liste de tâches planifiées
{% endblock %}

{% block body %}
{{ include('nom_liste_tache/sub_menu.html.twig') }}

	<table id="datatable" class="table table-borderless table-sm small table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th class="text-center">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nom_liste_tache in nom_liste_taches %}
            <tr>
                <td>{{ nom_liste_tache.id }}</td>
                <td>{{ nom_liste_tache.title }}</td>
                <td class="text-center">
                    <a href="{{ path('nom_liste_tache_edit', {'id': nom_liste_tache.id}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}



{% block javascriptEnd %}
	<!-- datatable -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css"/>
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
	<script src="https://cdn.datatables.net/plug-ins/1.10.24/sorting/datetime-moment.js"></script>

	<script>
		$(document).ready(function () {
$.fn.dataTable.moment('DD/MM/YYYY');

var table = $('#datatable').DataTable({
orderCellsTop: true,
fixedHeader: true,
paging: true,
"pageLength": 50,
"responsive": true,
"autoWidth": false,
"dom": 'Bfrtip',
"buttons": [
'csv', 'excel', 'pdf'
],
order: [
[0, "desc"]
]
});
});
	</script>
{% endblock %}

