<p>
	<a class="btn btn-info btn-sm col-1" href="{{ path('manuel_index') }}">Liste</a>
	<a class="btn btn-info btn-sm col-1" href="{{ path('manuel_new') }}">Nouveau</a>
    <a class="btn btn-info btn-sm col-1" href="{{ path('manuel_edit', {'id': manuel.id}) }}">Editer</a>
</p>
<hr>
